{{ define "title" }}{{ .Site.Title }}{{ end }}

{{ define "main" }}
<section class="hydrological-regime">
  <h2>Sieć rzek</h2>
  <ul>
    <li><a href="{{ "rzeki/wisla/" | relURL }}">Wisła</a></li>
    <li><a href="{{ "rzeki/odra/" | relURL }}">Odra</a></li>
    <li><a href="{{ "rzeki/przymorza/" | relURL }}">Rzeki Przymorza</a></li>
  </ul>
</section>
<section class="hydrological-regime">
  <h2>Indeksy</h2>
  <ul>
    <li><a href="{{ "indeks/" | relURL }}">Indeks stacji</a></li>
    <li><a href="{{ "jeziora/" | relURL }}">Jeziora</a></li>
    <li><a href="{{ "rzeki/" | relURL }}">Wszystkie rzeki</a></li>
  </ul>
</section>
{{ end }}
